.fixed
{
	position: fixed !important;
}

.error 
{
	font-size: 120%;
	color: #c94663;
}

.note 
{
	color:#c94663;
	font-size:125%;
	font-weight:bold;
}

.post-date
{
	color: #999999;
	text-align: right;
	font-size: 90%;
}

.list-table
{
	 border-collapse: collapse;
	 border: 1px solid black;
}

.list-table td, th
{
	border: 1px solid black;
	padding: 0.5em;
}

ul:not(.stats), ol:not(.stats), dl:not(.stats)
{
	margin-left: 1.5em;
}

ul:not(.stats)
{
	list-style-type: circle; 
}

ol:not(.stats)
{
	list-style-type: decimal; 
}

img 
{
	max-width:100%;
	height: auto !important;
	margin: 0.5em;
}

figure img
{
	margin: 0;
}

.day {
	margin-bottom: 5em;
}

/*
Copyright (c) 2003-2016, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

.cke_editable
{
	font-size: 13px;
	line-height: 1.6;

	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: break-word;
}

ol:not(.stats), ul:not(.stats), dl:not(.stats)
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: bold;
	line-height: 1.25;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}

a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}


/* --- correzioni --- */

#nav * , #sidebar > ul
{
	padding: 0;
	list-style-type: none; 
}

/*.pages
{
	display: inline-block !important;
	min-width: 0.5em !important;
}*/

.pagination {
	display: inline-block !important;
	padding: 3em !important;
}

.pagination .previous {
	margin-right: 0.6em;
}

.pagination .next {
	margin-left: 0.2em;
}

.pagination .pages a {
	width: 2.75em;
	height: 2.75em;
	line-height: 2.75em;
}

.pagination .button {
	height: 2.75em;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 2.75em;
}